.primary-input {
    border-radius: 5px;
    height: 25px;
    margin: 10px 0 10px 0;
    border: none;
    border-bottom: 1px solid #EEEEFD;
    color: black;
    width: 200px;
}

.text-block {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 200px;
    font-size: 10px;
    color: rgb(143, 142, 168);
}