@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.form-block {
    border: 2px solid #f3f3f3;
    box-shadow: black 2px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.btn {
    margin-top: 20px;
    border-radius: 10px 0px 10px 10px;
    height: 40px;
    width: 200px;
    border: 1px solid #979696;
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}
.btn:hover {
    color: black;
    background-color: white;
}
.login-title-block {
    width: 200px;
    margin-bottom: 20px;
}
.login-title-block .login-title {
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 26px;
}
.recover-pass-block {
    text-align: right;
    width: 200px
}
.recover-pass-block .recover-pass {
    font-size: 8px;
    font-weight: bold;
    text-decoration: none;
}
.recover-pass-block .recover-pass:visited {
    color: black;
}